body
{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;

}
.outer
{
    height: 400px;
    width: 250px;
    border-radius: 40px;
    align-items: center;
    border: 2px solid black;
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 20px;
background-color:brown;
}
.inner
{
    height: 100px;
    width: 150px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    border-radius: 100px;
    background-color: black;

}
.i1:hover
{
    background-color: red;
    

}
.i2:hover
{
    background-color: yellow;
}
.i3:hover
{
    background-color: green;
}